[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
rope = "*"
pyyaml = "*"
rstcheck = "*"
docutils = "*"
flake8-bugbear = "*"

[packages]
python-dateutil = "*"

[requires]
python_version = "3.8"
