[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
rope = "*"
pyyaml = "*"
rstcheck = "*"
docutils = "*"
flake8-bugbear = "*"
twine = "*"
sphinx = "*"
mypy = "*"
mock = "*"
pytest = "*"
types-python-dateutil = "*"

[packages]
python-dateutil = "*"
liquid = {editable = true, path = "."}
markupsafe = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
