[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
rope = "*"
ipython = "*"
pyyaml = "*"
pytest = "*"
sphinx = "*"
rstcheck = "*"
docutils = "*"

[packages]
python-dateutil = "*"
cython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
